<!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->

<!-- Social Media Links CDN Link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- googlefont -->
<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:100" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">

  <!-- router links for testing  routes -->
  <!-- <a [routerLink]="['/login']">login</a>  -->
  <!-- <a [routerLink]="['/register']">register</a>  -->



<router-outlet></router-outlet>

<div class='router-footer'>
  <div class="footer-top" style="text-align:center">
    <a href="#" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/junglenurbana/" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-twitter"></a>
  </div>
  <div class="footer-links" style="text-align:center">
    <a class="mainlink" href="#">Contact</a>
    <a class="mainlink" href="#">Privacy Policy</a>
    <a class="mainlink" href="#">Site Map</a>
  </div>
  <div class="footer-copyright" style="text-align:center">
    Copyright &#169; 2018 - Jungle Nurbana - Developed and Designed by Erine N.
  </div>

</div>

